* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
}
a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #fff;
}
ul {
  list-style: none;
}

/* nav */
.main-nav {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  background-color: #272727;
}
.main-nav .icon {
  font-size: 1.2rem;
  color: #fff;
}
.main-nav .main-menu {
  display: flex;
  flex: 1;
  margin-left: 20px;
}
.main-nav .main-menu li {
  padding: 0 10px;
}
.main-nav .main-menu li a:hover {
  color: #fff;
}
.main-nav .right-menu {
  display: flex;
  justify-content: center;
}
.main-nav .right-menu li {
  padding: 0 10px;
}

/* showcase */
.showcase {
  width: 100%;
  height: 600px;
  background: url('./Images/heroImage.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
  align-items: flex-start;
  color: #fff;
}
.showcase .logo {
  width: 110px;
  margin-top: 10px;
}
.search-area {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search-area .title {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  margin-bottom: 20px;
  padding: 0px 10px;
  align-items: center;
  font-weight: 100px;
}
.search-area span {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.custom-radio input {
  display: none;
}
.custom-radio .radio-button {
  display: inline-block;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
.custom-radio input:checked + .radio-button {
  background-color: #2d98da;
  transition: 0.4s;
}
.search-form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  border: 1px solid #4a4a4a;
  margin-bottom: 30px;
  padding: 30px 0px;
}
.search-field {
  margin-left: 10px;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
}

.show-number {
  border: 1px yellow solid;
  width: 70%;
  height: 100px;
}
.showcase .right-area {
  border: 1px yellow solid;
  width: 200px;
}
