* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Open Sans';
}
.container {
  width: 100%;
}
a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #fff;
}
ul {
  list-style: none;
}

/* nav */
.main-nav {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  background-color: #272727;
  border-top: 7px solid #0073ba;
}
.main-nav .icon {
  font-size: 1.2rem;
  color: #fff;
}
.main-nav .main-menu {
  display: flex;
  flex: 1;
  margin-left: 20px;
}
.main-nav .main-menu li {
  padding: 0 10px;
}
.main-nav .main-menu li a:hover {
  color: #fff;
}
.main-nav .right-menu {
  display: flex;
  justify-content: center;
}
.main-nav .right-menu li {
  padding: 0 10px;
}

/* showcase */
.showcase {
  width: 100%;
  height: 600px;
  background: url('./Images/heroImage.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
  align-items: flex-start;
  color: #fff;
}

.showcase .logo {
  width: 110px;
  margin-top: 10px;
}
.search-area {
  width: 800px;
  min-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search-area .title {
  width: 70%;
  min-width: 700px;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  margin-bottom: 20px;
  padding: 0px 10px;
  align-items: center;
  font-weight: 100px;
}
.search-area span {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.custom-radio input {
  display: none;
}
.custom-radio .radio-button {
  display: inline-block;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
.custom-radio input:checked + .radio-button {
  background-color: #2d98da;
  transition: 0.4s;
}
.search-form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  border: 1px solid #4a4a4a;
  margin-bottom: 30px;
  padding: 30px 0px;
}
.search-field {
  margin-left: 10px;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  position: relative;
}
.search-field-left {
  width: 15%;
  border-radius: 0px;
}
.search-field-right {
  border-left: 1px gray solid;
  margin-left: 0px;
  width: 15%;
  border-radius: 0px;
}

.search-field .default-option {
  cursor: pointer;
  position: relative;
  color: black;
}
.search-field .default-option li {
  text-align: left;
  padding-left: 15px;
}
.search-field .default-option:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-45deg);
}
.search-field.active .default-option:before {
  content: '';
  position: absolute;
  top: 22px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-225deg);
}
.search-field .select-ul {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 100%;
  background: #fff;
  color: black;
  z-index: 99;
  display: none;
}
.search-field.active .select-ul {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 100%;
  background: #fff;
  color: black;
  z-index: 99;
  display: block;
}
.search-field .select-ul li {
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
  color: #777;
  height: 45px;
}
.search-field .select-ul li:hover {
  background: #edf7f9;
  font-size: 15px;
}
.search-field .select-ul li:first-child:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-field .keywords {
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  color: black;
  text-align: left;
  padding-left: 15px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.show-number {
  width: 70%;
  height: 100px;
  color: #fff;
}
.show-number .show-details {
  width: 250px;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 20px;
  margin: 10px auto;
  background-color: #007cc2;
}
.show-number p {
  font-size: 0.875rem;
}
.showcase .right-area {
  width: 150px;
  min-width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-area .btn {
  display: inline-block;
  margin: 0 auto;
  font-size: 14px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff7b00;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10rem;
  font-weight: bold;
}
.right-area .manage-ad {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
}
.right-area .manage-ad:hover {
  text-decoration: underline;
}

/* Buy from home banner */
.buyfromhome-banner {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 50px;
}
.buyfromhome-banner img {
  margin: 0 auto;
}

/* show room */
.showroom {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.showroom-title {
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 50px;
}
.showroom-title h2 {
  width: 250px;
  font-size: 1.575rem;
}
.showroom-title nav {
  width: 600px;
  display: flex;
  justify-content: start;
  cursor: pointer;
}
.text-muted {
  color: #9b9b9b;
}

.showroom-title .h5 {
  margin-right: 20px;
  font-size: 1.05rem;
  font-weight: bold;
}
.active {
  font-weight: 600;
  color: #00448d;
  border-bottom: 1px solid;
}
.showroom-title a {
  width: 220px;
  padding-left: 70px;
  text-decoration: none;
  font-size: 0.875rem;
}
.showroom-title a:hover {
  color: #00448d;
  text-decoration: underline;
}

.showroom-sections {
  text-align: center;
  height: 100px;
  width: 75%;
  margin: 0 auto;
}
.showroom-content-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.showroom-content-item {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showroom-content-item:hover span {
  text-decoration: underline;
}
.showroom-content-item img {
  width: 100%;
  margin-bottom: 10px;
}
.showroom-content-item span {
  color: #00448d;
  font-size: 0.875rem;
}
.showroom-content-brand {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showroom-content-brand:hover span {
  text-decoration: underline;
}
.showroom-content-brand img {
  width: 100%;
  margin-bottom: 10px;
}
.showroom-content-brand span {
  color: #00448d;
  font-size: 0.875rem;
}
#showroom-1-content,
#showroom-2-content {
  display: none;
}
.show {
  display: block !important;
}
.showroom-ad {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.showroom-ad span {
  width: 730px;
  text-align: right;
  padding-top: 10px;
}

/* sponsored area*/
.sponsored {
  width: 100%;
  height: 180px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sponsored p {
  width: 60%;
  margin: 0 auto;
}
.sponsored-section {
  display: flex;
  justify-content: center;
}
.sponsored-item {
  width: 300px;
  height: 100px;
  margin-left: 20px;
}
.sponsored-item:hover {
  background-color: #9b9b9b;
  cursor: pointer;
}
.sponsored-item img {
  width: 100%;
}

/* sliders area */
.sliders {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
}
.sliders-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sliders-header .editor-btn {
  font-size: 16px;
  background-color: #007cc2;
  color: #fff;
  padding: 0.375rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 10rem;
  font-weight: bold;
}
.sliders-header h2 {
  font-size: 1.575rem;
  line-height: 1.2;
}
.sliders-card {
  width: 80%;
  margin: 20px auto;
  font-size: 1.225rem;
  line-height: 1.2;
}

#slider {
  margin: 20px auto;
  width: 100%;
}
#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}
#overflow {
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
}
#slides .slide {
  width: 25%;
  height: 360px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slides .slide_1 .slide-content-left {
  background: url('Images/1.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 1%;
}
#slides .slide_1 .slide-content-right {
  background: url('Images/2.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
#slides .slide_2 .slide-content-left {
  background: url('Images/3.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 1%;
}
#slides .slide_2 .slide-content-right {
  background: url('Images/4.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
#slides .slide_3 .slide-content-left {
  background: url('Images/5.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 1%;
}
#slides .slide_3 .slide-content-right {
  background: url('Images/6.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
#slides .slide_4 .slide-content-left {
  background: url('Images/1.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 1%;
}
#slides .slide_4 .slide-content-right {
  background: url('Images/2.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/969/969586.svg) no-repeat;
  float: right;
  margin: 0 -25px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(4),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3) {
  background: url(https://image.flaticon.com/icons/svg/969/969572.svg) no-repeat;
  float: left;
  margin: 0 0 0 -25px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  color: #f2f2f2;
  box-shadow: inset 0px -100px 250px #000000;
}
.slide-content h5 {
  font-size: 26px;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.2;
}
.slide-content .left-right {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-weight: 100;
  font-size: 12px;
}
.slide-content img {
  width: 20%;
}
.slide-content h5 {
  margin-top: 50px;
}
.slide-content .advice {
  font-size: 14px;
  color: #5c9b1c;
  font-weight: 100;
}
.slide-content .news {
  font-size: 14px;
  color: red;
  font-weight: 100;
}
.slide-content .carpool {
  font-size: 14px;
  color: #1b83c4;
  font-weight: 100;
}
.slide-content .review {
  font-size: 14px;
  color: #4cc8e8;
  font-weight: 100;
}

/* slideshow area */

.slideshow {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
}
.slideshow .slideshow-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slideshow .slider-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slideshow .slider-header h4 {
  font-size: 1.225rem;
  line-height: 1.2;
}
.slideshow .slider-header h4 {
  font-size: 1.225rem;
  line-height: 1.2;
}
.slideshow .slider-header a {
  font-size: 0.875rem;
  line-height: 1.2;
  color: #00448d;
}
.slideshow .slider-header a:hover {
  text-decoration: underline;
}

/*   Car Reviews    */
#slider {
  margin: 30px auto;
  width: 100%;
}
#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slideshows {
  position: relative;
  z-index: 1;
}
#overflow {
  overflow: hidden;
}
#slideOne:checked ~ #slideshows .innershow {
  margin-left: 0;
}
#slideTwo:checked ~ #slideshows .innershow {
  margin-left: -100%;
}
#slideThree:checked ~ #slideshows .innershow {
  margin-left: -200%;
}

#slideshows .innershow {
  transition: margin-left 600ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 300%;
  line-height: 0;
}
#slideshows .slide {
  width: 33.33333333333%;
  height: 300px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slideshows .slide_one .slide-inner-one {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows .slide_one .slide-inner-two {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows .slide_one .slide-inner-three {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows .slide_one .slide-inner-four {
  border-radius: 1%;
}

#signs {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#signs label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#signs label:hover {
  opacity: 1;
}
#slideOne:checked ~ #signs label:nth-child(2),
#slideTwo:checked ~ #signs label:nth-child(3),
#slideThree:checked ~ #signs label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/969/969586.svg) no-repeat;
  float: right;
  margin: 0 -25px 0 0;
  display: block;
}
#slideOne:checked ~ #signs label:nth-child(3),
#slideTwo:checked ~ #signs label:nth-child(1),
#slideThree:checked ~ #signs label:nth-child(2) {
  background: url(https://image.flaticon.com/icons/svg/969/969572.svg) no-repeat;
  float: left;
  margin: 0 0 0 -25px;
  display: block;
}
#bulletss {
  margin: 150px 0 0;
  text-align: center;
}
#bulletss label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slideOne:checked ~ #bulletss label:nth-child(1),
#slideTwo:checked ~ #bulletss label:nth-child(2),
#slideThree:checked ~ #bulletss label:nth-child(3) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slideOne:checked ~ #signs label:nth-child(2),
  #slideTwo:checked ~ #signs label:nth-child(3),
  #slideThree:checked ~ #signs label:nth-child(1),
  #slideOne:checked ~ #signs label:nth-last-child(2),
  #slideTwo:checked ~ #signs label:nth-last-child(3),
  #slideThree:checked ~ #signs label:nth-last-child(1) {
    margin: 0;
  }
  #slideshows {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.slide-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px #ddd solid;
  border-radius: 0.25rem;
}
.slide-inner .top {
  width: 100%;
  height: 60%;
}
.slide-inner .top img {
  margin: 50px auto;
  width: 20%;
}
.slide .primary {
  margin-right: 15px;
}
.slide-1-inner-one .top {
  background: url('Images/CR1-1.jpg') no-repeat;
  background-size: 100%;
}
.slide-1-inner-two .top {
  background: url('Images/CR1-2.jpg') no-repeat;
  background-size: 100%;
}
.slide-1-inner-three .top {
  background: url('Images/CR1-3.jpg') no-repeat;
  background-size: 100%;
}
.slide-1-inner-four .top {
  background: url('Images/CR1-4.jpg') no-repeat;
  background-size: 100%;
}
.slide-2-inner-one .top {
  background: url('Images/CR2-1.jpg') no-repeat;
  background-size: 100%;
}
.slide-2-inner-two .top {
  background: url('Images/CR2-2.jpg') no-repeat;
  background-size: 100%;
}
.slide-2-inner-three .top {
  background: url('Images/CR2-3.jpg') no-repeat;
  background-size: 100%;
}
.slide-2-inner-four .top {
  background: url('Images/CR2-4.jpg') no-repeat;
  background-size: 100%;
}
.slide-3-inner-one .top {
  background: url('Images/CR3-1.jpg') no-repeat;
  background-size: 100%;
}
.slide-3-inner-two .top {
  background: url('Images/CR3-2.jpg') no-repeat;
  background-size: 100%;
}
.slide-3-inner-three .top {
  background: url('Images/CR3-3.jpg') no-repeat;
  background-size: 100%;
}
.slide-3-inner-four .top {
  background: url('Images/CR3-4.jpg') no-repeat;
  background-size: 100%;
}
.slide-inner .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 40%;
  padding-left: 10px;
  padding-bottom: 30px;
}
.slide-inner .bottom h5 {
  font-size: 16px;
  height: 15px;
  line-height: 15px;
  color: #000;
  font-weight: bold;
}
.slide-inner .bottom .first {
  margin-bottom: 10px;
  color: #4a4a4a;
}
.slide-inner .bottom .second {
  margin-bottom: 30px;
}
.slide-inner .bottom .third {
  font-size: 0.875rem;
  color: #4a4a4a;
}
.slide-inner .advice {
  font-size: 14px;
  color: #5c9b1c;
  font-weight: 100;
}
.slide-inner .news {
  font-size: 14px;
  color: red;
  font-weight: 100;
}
.slide-inner .carpool {
  font-size: 14px;
  color: #1b83c4;
  font-weight: 100;
}
.slide-inner .review {
  font-size: 14px;
  color: #4cc8e8;
  font-weight: 100;
}

/* CAR NEWS */

#slider-CN {
  margin: 30px auto;
  width: 100%;
}
#slider-CN input[type='radio'] {
  display: none;
}
#slider-CN label {
  cursor: pointer;
  text-decoration: none;
}
#slideshows-CN {
  position: relative;
  z-index: 1;
}
#overflow-CN {
  overflow: hidden;
}
#slideOne-CN:checked ~ #slideshows-CN .innershow-CN {
  margin-left: 0;
}
#slideTwo-CN:checked ~ #slideshows-CN .innershow-CN {
  margin-left: -100%;
}
#slideThree-CN:checked ~ #slideshows-CN .innershow-CN {
  margin-left: -200%;
}

#slideshows-CN .innershow-CN {
  transition: margin-left 600ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 300%;
  line-height: 0;
}
#slideshows-CN .slide-CN {
  width: 33.33333333333%;
  height: 300px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slideshows-CN .slide_one .slide-inner-one {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshow-CN .slide_one .slide-inner-two {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows-CN .slide_one .slide-inner-three {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows-CN .slide_one .slide-inner-four {
  border-radius: 1%;
}

#signs-CN {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#signs-CN label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#signs-CN label:hover {
  opacity: 1;
}
#slideOne-CN:checked ~ #signs-CN label:nth-child(2),
#slideTwo-CN:checked ~ #signs-CN label:nth-child(3),
#slideThree-CN:checked ~ #signs-CN label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/969/969586.svg) no-repeat;
  float: right;
  margin: 0 -25px 0 0;
  display: block;
}
#slideOne-CN:checked ~ #signs-CN label:nth-child(3),
#slideTwo-CN:checked ~ #signs-CN label:nth-child(1),
#slideThree-CN:checked ~ #signs-CN label:nth-child(2) {
  background: url(https://image.flaticon.com/icons/svg/969/969572.svg) no-repeat;
  float: left;
  margin: 0 0 0 -25px;
  display: block;
}
#bulletss-CN {
  margin: 150px 0 0;
  text-align: center;
}
#bulletss-CN label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slideOne-CN:checked ~ #bulletss-CN label:nth-child(1),
#slideTwo-CN:checked ~ #bulletss-CN label:nth-child(2),
#slideThree-CN:checked ~ #bulletss-CN label:nth-child(3) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slideOne-CN:checked ~ #signs-CN label:nth-child(2),
  #slideTwo-CN:checked ~ #signs-CN label:nth-child(3),
  #slideThree-CN:checked ~ #signs-CN label:nth-child(1),
  #slideOne-CN:checked ~ #signs-CN label:nth-last-child(2),
  #slideTwo-CN:checked ~ #signs-CN label:nth-last-child(3),
  #slideThree-CN:checked ~ #signs-CN label:nth-last-child(1) {
    margin: 0;
  }
  #slideshows-CN {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.slide-inner-CN {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px #ddd solid;
  border-radius: 0.25rem;
}
.slide-inner-CN .top {
  width: 100%;
  height: 60%;
}
.slide-inner-CN .top img {
  margin: 50px auto;
  width: 20%;
}
.slide-CN .primary {
  margin-right: 15px;
}
.slideCN-1-inner-one .top {
  background: url('Images/CN1-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-1-inner-two .top {
  background: url('Images/CN1-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-1-inner-three .top {
  background: url('Images/CN1-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-1-inner-four .top {
  background: url('Images/CN1-4.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-2-inner-one .top {
  background: url('Images/CN2-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-2-inner-two .top {
  background: url('Images/CN2-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-2-inner-three .top {
  background: url('Images/CN2-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-2-inner-four .top {
  background: url('Images/CN2-4.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-3-inner-one .top {
  background: url('Images/CN3-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-3-inner-two .top {
  background: url('Images/CN3-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-3-inner-three .top {
  background: url('Images/CN3-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCN-3-inner-four .top {
  background: url('Images/CN3-4.jpg') no-repeat;
  background-size: 100%;
}
.slide-inner-CN .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 40%;
  padding-left: 10px;
  padding-bottom: 30px;
}
.slide-inner-CN .bottom h5 {
  font-size: 16px;
  height: 15px;
  line-height: 15px;
  color: #000;
  font-weight: bold;
}
.slide-inner-CN .bottom .first {
  margin-bottom: 10px;
  color: #4a4a4a;
}
.slide-inner-CN .bottom .second {
  margin-bottom: 30px;
}
.slide-inner-CN .bottom .third {
  font-size: 0.875rem;
  color: #4a4a4a;
}
.slide-inner-CN .advice {
  font-size: 14px;
  color: #5c9b1c;
  font-weight: 100;
}
.slide-inner-CN .news {
  font-size: 14px;
  color: red;
  font-weight: 100;
}
.slide-inner-CN .carpool {
  font-size: 14px;
  color: #1b83c4;
  font-weight: 100;
}
.slide-inner-CN .review {
  font-size: 14px;
  color: #4cc8e8;
  font-weight: 100;
}

/* CAR ADVICE */

#slider-CA {
  margin: 30px auto;
  width: 100%;
}
#slider-CA input[type='radio'] {
  display: none;
}
#slider-CA label {
  cursor: pointer;
  text-decoration: none;
}
#slideshows-CA {
  position: relative;
  z-index: 1;
}
#overflow-CA {
  overflow: hidden;
}
#slideOne-CA:checked ~ #slideshows-CA .innershow-CA {
  margin-left: 0;
}
#slideTwo-CA:checked ~ #slideshows-CA .innershow-CA {
  margin-left: -100%;
}
#slideThree-CA:checked ~ #slideshows-CA .innershow-CA {
  margin-left: -200%;
}

#slideshows-CA .innershow-CA {
  transition: margin-left 600ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 300%;
  line-height: 0;
}
#slideshows-CA .slide-CA {
  width: 33.33333333333%;
  height: 300px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slideshows-CA .slide_one .slide-inner-one {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshow-CA .slide_one .slide-inner-two {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows-CA .slide_one .slide-inner-three {
  margin-right: 15px;
  border-radius: 1%;
}
#slideshows-CA .slide_one .slide-inner-four {
  border-radius: 1%;
}

#signs-CA {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#signs-CA label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#signs-CA label:hover {
  opacity: 1;
}
#slideOne-CA:checked ~ #signs-CA label:nth-child(2),
#slideTwo-CA:checked ~ #signs-CA label:nth-child(3),
#slideThree-CA:checked ~ #signs-CA label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/969/969586.svg) no-repeat;
  float: right;
  margin: 0 -25px 0 0;
  display: block;
}
#slideOne-CA:checked ~ #signs-CA label:nth-child(3),
#slideTwo-CA:checked ~ #signs-CA label:nth-child(1),
#slideThree-CA:checked ~ #signs-CA label:nth-child(2) {
  background: url(https://image.flaticon.com/icons/svg/969/969572.svg) no-repeat;
  float: left;
  margin: 0 0 0 -25px;
  display: block;
}
#bulletss-CA {
  margin: 150px 0 0;
  text-align: center;
}
#bulletss-CA label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slideOne-CA:checked ~ #bulletss-CA label:nth-child(1),
#slideTwo-CA:checked ~ #bulletss-CA label:nth-child(2),
#slideThree-CA:checked ~ #bulletss-CA label:nth-child(3) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slideOne-CA:checked ~ #signs-CA label:nth-child(2),
  #slideTwo-CA:checked ~ #signs-CA label:nth-child(3),
  #slideThree-CA:checked ~ #signs-CA label:nth-child(1),
  #slideOne-CA:checked ~ #signs-CA label:nth-last-child(2),
  #slideTwo-CA:checked ~ #signs-CA label:nth-last-child(3),
  #slideThree-CA:checked ~ #signs-CA label:nth-last-child(1) {
    margin: 0;
  }
  #slideshows-CA {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.slide-inner-CA {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px #ddd solid;
  border-radius: 0.25rem;
}
.slide-inner-CA .top {
  width: 100%;
  height: 60%;
}
.slide-inner-CA .top img {
  margin: 50px auto;
  width: 20%;
}
.slide-CA .primary {
  margin-right: 15px;
}
.slideCA-1-inner-one .top {
  background: url('Images/CA1-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-1-inner-two .top {
  background: url('Images/CA1-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-1-inner-three .top {
  background: url('Images/CA1-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-1-inner-four .top {
  background: url('Images/CA1-4.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-2-inner-one .top {
  background: url('Images/CA2-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-2-inner-two .top {
  background: url('Images/CA2-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-2-inner-three .top {
  background: url('Images/CA2-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-2-inner-four .top {
  background: url('Images/CA2-4.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-3-inner-one .top {
  background: url('Images/CA3-1.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-3-inner-two .top {
  background: url('Images/CA3-2.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-3-inner-three .top {
  background: url('Images/CA3-3.jpg') no-repeat;
  background-size: 100%;
}
.slideCA-3-inner-four .top {
  background: url('Images/CA3-4.jpg') no-repeat;
  background-size: 100%;
}
.slide-inner-CA .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 40%;
  padding-left: 10px;
  padding-bottom: 30px;
}
.slide-inner-CA .bottom h5 {
  font-size: 16px;
  height: 15px;
  line-height: 15px;
  color: #000;
  font-weight: bold;
}
.slide-inner-CA .bottom .first {
  margin-bottom: 10px;
  color: #4a4a4a;
}
.slide-inner-CA .bottom .second {
  margin-bottom: 30px;
}
.slide-inner-CA .bottom .third {
  font-size: 0.875rem;
  color: #4a4a4a;
}
.slide-inner-CA .advice {
  font-size: 14px;
  color: #5c9b1c;
  font-weight: 100;
}
.slide-inner-CA .carpool {
  font-size: 14px;
  color: #1b83c4;
  font-weight: 100;
}

/* car week */
.car-week a {
  margin: 0px auto;
  width: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: solid 1px #ddd;
  cursor: pointer;
}
.car-week a img {
  width: 400px;
}
.car-week .car-week-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 150px;
}
.car-week .car-week-middle h3 {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.car-week .car-week-middle p {
  color: #888;
  font-size: 18px;
  height: 100px;
}

.car-week .car-week-middle .btn-primary {
  display: inline-block;
  background: #007cc2;
  text-align: center;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 40px;
  border-radius: 10rem;
  width: 130px;
  height: 40px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.car-week .car-week-right {
  width: 20%;
  color: #808080;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: right;
}
.car-week .BMW-logo {
  background: url('Images/BMW-logo.png') no-repeat;
  background-size: 43px;
  margin-left: 100px;
  height: 45px;
  width: 45px;
  align-items: center;
}
.car-week .car-week-right p {
  margin-left: 100px;
}

/* Other Offering */
.other-offering {
  width: 100%;
  height: 450px;
  background-color: #f2f2f2;
}
.other-offering-inner {
  width: 64%;
  margin: 30px auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.other-offering .offering-header {
  color: #4a4a4a;
  font-size: 2rem;
  font-weight: bold;
}
.other-offering .offering-container {
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin-top: 20px;
}
.other-offering .offering {
  width: 33.33333333%;
  background-color: #fff;
  border-radius: 6px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.other-offering .offering-1,
.other-offering .offering-2 {
  margin-right: 15px;
}

.other-offering .offering-icon {
  width: 100%;
  height: 60px;
}
.other-offering .valuation {
  background: url('./Images/valuation-tool.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.other-offering .sell-car {
  background: url('./Images/sell-car.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.other-offering .best-deal {
  background: url('./Images/best-deal.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.other-offering .offering-title {
  font-size: 1.575rem;
  color: #262626;
  text-align: center;
}
.other-offering .offering p {
  font-size: 0.875rem;
  color: #4a4a4a;
  text-align: center;
  width: 90%;
  align-items: center;
  height: 40px;
}
.other-offering .btn-outline {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  line-height: 40px;
  background-color: transparent;
  border-radius: 10rem;
  color: #007cc2;
  border: 1px solid #007cc2;
  width: 150px;
  height: 40px;
  margin: 15px auto;
  text-align: center;
  font-weight: 200;
}
.other-offering .btn-outline:hover {
  background-color: #f6f6f6;
}

/* footer widgets */

.footer-widgets {
  margin: 30px auto;
  width: 64%;
  height: 500px;
}
.footer-widgets a {
  color: #6e6e6e;
}

.footer-widgets .widgets-container {
  display: flex;
  justify-content: center;
}
.footer-widgets .col {
  width: 16.6666667%;
  height: 100%;
}
.footer-widgets .col .title {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-widgets .col ul {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  display: inline-block;
}
.footer-widgets .col .widgets-list li {
  margin-top: 10px;
  display: block;
}
.footer-widgets .col .widgets-list a:hover {
  text-decoration: underline;
}

/* footer info */

.footer-info {
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 14px;
  background: #007cc2;
}
.footer-info .footer-container {
  width: 64%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-info .container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info .footer-logo {
  background: url('./Images/carsalesLogo.svg') no-repeat;
  background-size: contain;
  width: 100px;
  height: 32px;
  display: inline-block;
  font-weight: 400;
}
.footer-info .info {
  font-weight: 600;
  margin-left: 30px;
}
.footer-info .footer-media {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 80px;
  align-items: center;

  text-align: center;
}
.footer-info .facebook {
  display: inline-block;
  background: url('./Images/fackbook.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 34px;
  background-position: center;
}
.footer-info .twitter {
  background: url('./Images/twitter.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 34px;
  background-position: center;
}
.footer-info .youtube {
  background: url('./Images/youtube.svg') no-repeat;
  background-size: contain;
  width: 60px;
  height: 34px;
  background-position: center;
}
.footer-info .ins {
  background: url('./Images/ins.svg') no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 34px;
}
