* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
}
a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #fff;
}
ul {
  list-style: none;
}

/* nav */
.main-nav {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  background-color: #272727;
}
.main-nav .icon {
  font-size: 1.2rem;
  color: #fff;
}
.main-nav .main-menu {
  display: flex;
  flex: 1;
  margin-left: 20px;
}
.main-nav .main-menu li {
  padding: 0 10px;
}
.main-nav .main-menu li a:hover {
  color: #fff;
}
.main-nav .right-menu {
  display: flex;
  justify-content: center;
}
.main-nav .right-menu li {
  padding: 0 10px;
}

/* showcase */
.showcase {
  width: 100%;
  height: 600px;
  background: url('./Images/heroImage.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
  align-items: flex-start;
  color: #fff;
}

.showcase .logo {
  width: 110px;
  margin-top: 10px;
}
.search-area {
  width: 800px;
  min-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search-area .title {
  width: 70%;
  min-width: 700px;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  margin-bottom: 20px;
  padding: 0px 10px;
  align-items: center;
  font-weight: 100px;
}
.search-area span {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.custom-radio input {
  display: none;
}
.custom-radio .radio-button {
  display: inline-block;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
.custom-radio input:checked + .radio-button {
  background-color: #2d98da;
  transition: 0.4s;
}
.search-form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  border: 1px solid #4a4a4a;
  margin-bottom: 30px;
  padding: 30px 0px;
}
.search-field {
  margin-left: 10px;
  width: 30%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  position: relative;
}
.search-field-left {
  width: 15%;
  border-radius: 0px;
}
.search-field-right {
  border-left: 1px gray solid;
  margin-left: 0px;
  width: 15%;
  border-radius: 0px;
}

.search-field .default-option {
  cursor: pointer;
  position: relative;
  color: black;
}
.search-field .default-option li {
  text-align: left;
  padding-left: 15px;
}
.search-field .default-option:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-45deg);
}
.search-field.active .default-option:before {
  content: '';
  position: absolute;
  top: 22px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-225deg);
}
.search-field .select-ul {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 100%;
  background: #fff;
  color: black;
  z-index: 99;
  display: none;
}
.search-field.active .select-ul {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 100%;
  background: #fff;
  color: black;
  z-index: 99;
  display: block;
}
.search-field .select-ul li {
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
  color: #777;
  height: 45px;
}
.search-field .select-ul li:hover {
  background: #edf7f9;
  font-size: 15px;
}
.search-field .select-ul li:first-child:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-field .keywords {
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  color: black;
  text-align: left;
  padding-left: 15px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.show-number {
  width: 70%;
  height: 100px;
  color: #fff;
}
.show-number .show-details {
  width: 250px;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 20px;
  margin: 10px auto;
  background-color: #007cc2;
}
.show-number p {
  font-size: 0.875rem;
}
.showcase .right-area {
  width: 150px;
  min-width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-area .btn {
  display: inline-block;
  margin: 0 auto;
  font-size: 14px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff7b00;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10rem;
  font-weight: bold;
}
.right-area .manage-ad {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
}
.right-area .manage-ad:hover {
  text-decoration: underline;
}

/* Buy from home banner */
.buyfromhome-banner {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 50px;
}
.buyfromhome-banner img {
  margin: 0 auto;
}

/* show room */
.showroom {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showroom-title {
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 50px;
}
.showroom-title h2 {
  width: 250px;
  font-size: 1.575rem;
}
.showroom-title nav {
  width: 600px;
  display: flex;
  justify-content: start;
  cursor: pointer;
}
.text-muted {
  color: #9b9b9b;
}

.showroom-title .h5 {
  margin-right: 20px;
  font-size: 1.05rem;
  font-weight: bold;
}
.active {
  font-weight: 600;
  color: #00448d;
  border-bottom: 1px solid;
}
.showroom-title a {
  width: 220px;
  padding-left: 70px;
  text-decoration: none;
  font-size: 0.875rem;
}
.showroom-title a:hover {
  color: #00448d;
  text-decoration: underline;
}

.showroom-sections {
  text-align: center;
  height: 100px;
  width: 75%;
  margin: 0 auto;
}
.showroom-content-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.showroom-content-item {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showroom-content-item:hover span {
  text-decoration: underline;
}
.showroom-content-item img {
  width: 100%;
  margin-bottom: 10px;
}
.showroom-content-item span {
  color: #00448d;
  font-size: 0.875rem;
}
.showroom-content-brand {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showroom-content-brand:hover span {
  text-decoration: underline;
}
.showroom-content-brand img {
  width: 100%;
  margin-bottom: 10px;
}
.showroom-content-brand span {
  color: #00448d;
  font-size: 0.875rem;
}
#showroom-1-content,
#showroom-2-content {
  display: none;
}
.show {
  display: block !important;
}
.showroom-ad {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
